<div id="chat">
  <main [ngClass]="classChat">
    <header>
      <i [class]="classChatHeaderI" (click)="showUsersList()"></i>
      {{titleChat}}
    </header>

    <aside>
      <ul class="list-messages" id="your_div" #scrollMe style="overflow: scroll; height: xyz;">
        <li class="li-list-users" *ngFor="let user of users" [ngClass]="(user.chatActive)? 'active' : ''">
          <i class="fa fa-user-circle-o icon-user-on-list"></i>
          <p class="name-users" (click)="toActiveUser(user.uid)">{{user.displayName}}</p>
        </li>
      </ul>
    </aside>

    <article>
      <ul class="list-messages">
        <li *ngFor="let m of messages">
          <p [ngClass]="(m.user_sender === 'support')? 'content-message sent' : 'content-message receive'">{{m.content}}</p>
        </li>
      </ul>
    </article>

    <footer>
      <div class="row">
        <div class="col-10">
          <input type="text" name="message" #inputSend
          class="form-control input-send-message" [(ngModel)]="message"
          (keyup.enter)="onEnterSendMessage()">
        </div>
        <div class="col-2 container-icon-send">
          <i class="fa fa-send icon-send" (click)="sendMessage()"> </i>
        </div>
      </div>
    </footer>

  </main>
</div>