<div id="chat">
  <main [ngClass]="classChat">
    <header>
      <i [class]="classChatHeaderI" (click)="showUsersList()"></i>
      {{titleChat}}
    </header>

    <aside>
      <ul>
        <li class="li-list-users" *ngFor="let user of users" [ngClass]="(user.chatActive)? 'active' : ''">
          <i class="fa fa-user-circle-o icon-user-on-list"></i>
          <p class="name-users" (click)="toActiveUser(user.displayName)">{{user.displayName}}</p>
        </li>
      </ul>
    </aside>

    <article>
      <ul class="list-messages">
        <li>
          <p class="content-message receive">Como compro una casa</p>
        </li>
        <li>
          <p class="content-message sent">Observa el vide de presentacion, ahi se lo explicamos todo, saludos</p>
        </li>
        <li>
          <p class="content-message receive">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus fugit,
            saepe quam voluptates eum ducimus dolor consequatur reprehenderit eaque? Saepe consequuntur magnam
            laudantium
            natus earum doloribus expedita quas ipsam voluptatem.</p>
        </li>
        <li>
          <p class="content-message sent">Saludos</p>
        </li>
      </ul>
    </article>

    <footer>
      <div class="row">
        <div class="col-10">
          <input type="text" name="message" #inputSend
          class="form-control input-send-message" [(ngModel)]="message"
          (keyup.enter)="onEnterSendMessage()">
        </div>
        <div class="col-2 container-icon-send">
          <i class="fa fa-send icon-send" (click)="sendMessage()"> </i>
        </div>
      </div>
    </footer>

  </main>
</div>